.Container-form, .Container-view {
  background-color: white;
}

.Container {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 25px;
  column-gap: 10px;
}

.Container-view {
  display: flex;
  flex-direction: column;
  width: 35%;
  padding: 5px;
  border-radius: 10px;
  row-gap: 10px;
  line-height: 20px;
  text-align: center;
}

.Container-view > .row {
  background-color: rgb(221, 235, 248);
  padding: 20px;
  border-radius: 10px;
}

.Container-view > .row > div {
  display: flex;
  justify-content: space-between;
}

.Container-view > .row > div > div:first-child {
  font-weight: 600;
}

.Container-form {
  display: flex;
  flex-direction: column;
  width: 65%;
  padding: 25px;
}